<p id="notice"><%= notice %></p>

<h1><%= @recipe.name %></h1>
<%= image_tag(@recipe.picture, :size => "250x250", :hspace => '15px', :vspace => '15px', :align => "left") %>

<p>
   Submitted by <%= link_to @recipe.user.name, @recipe.user %>
</p>

<p>
   <b>Description:</b><br>
   <%= @recipe.description %>
</p>

<p>
   <b>Ingredients:</b><br>
   <% @ingredients.each do |ingredient| %>
     <%= ingredient %><br>
   <% end %>
</p>

<p>
  <b>Instructions:</b><p>
   <% @instructions.each do |step| %>
     <%= step %><p>
   <% end %>
</p>
<p><HR WIDTH="50%" align="left" SIZE="3" NOSHADE><p>
<b>Comments and Ratings:</b><p>
<% @comments.each do |comment| %>
  Posted by <b><%= comment.user_id.username %></b> on <%= comment.created_at %>: <br>
  <b>Rating:</b> <%= comment.rating %><p>
  <%= comment.content %>
  <p><HR WIDTH="50%" align="left" SIZE="1" NOSHADE><p>
<% end %>
<p><HR WIDTH="80%" align="left" SIZE="3" NOSHADE><p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Delete', @recipe, confirm: 'Are you sure?',method: :delete %> |
<%= link_to 'Back', recipes_path %>
